@font-face {
    font-family: 'arcaderegular';
    src: url('../stilo-letra/arcade.regular-webfont.woff2') format('woff2'),
         url('../stilo-letra/arcade.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(206, 75, 130, 0.21);
    text-shadow: 1px 1px 2px black;
}
.contenedor{
    display: grid;
    grid-gap: 10px ;
    grid:". sd hd hd hd hd hd hd hd ." minmax(50px, auto)
         ". sd hd hd hd hd hd hd hd ." minmax(50px, auto)
         ". sd cont cont cont cont cont cont cont ." minmax(100px, auto)
         ". sd cont cont cont cont cont cont cont ." minmax(100px, auto)
         ". sd cont cont cont cont cont cont cont ." minmax(100px, auto)
         ". sd cont cont cont cont cont cont cont ." minmax(100px, auto)
         ". . cont cont cont cont cont cont cont ." minmax(100px, auto)
         ". . cont cont cont cont cont cont cont ." minmax(100px, auto)
         ". . cont cont cont cont cont cont cont ." minmax(100px, auto)
         ". ft ft ft ft ft ft ft ft ." minmax(50px, auto)
        /0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

header{
    grid-area: hd;
    background-color: rgb(206, 75, 130);
    text-align: center;
    color: whitesmoke;
    font-family: 'arcaderegular';
}
header h1{
    margin: 0;
    font-size: 7vmax;
}
header p{
    margin: 0;
    font-size: 3vmax;
    color: rgba(29, 91, 223, 0.925);
}

nav{
    grid-area: sd;
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 0;
    margin-bottom: 60px;
    background-color: rgb(206, 75, 130);
    z-index: 1;
}

.contenido-principal{
    grid-area: cont;
    background-color: rgba(206, 75, 130, 0.62);
    text-align: center;
   
}

footer{
    grid-area: ft;
    background-color: rgb(206, 75, 130);
    color: whitesmoke;
    text-align: center;

}

footer p{
   text-align: center; 
}

nav ol{
    
    padding: 0;
    text-align: center;
}
nav ol li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 5vh;
    /* padding: 10px; */
}
li{
    margin: 12vh 0;
    list-style: none;
}
.logo{
    /*position: fixed;
    top: 0;*/
    left: 85.5px;
    /*background-color: rgb(206, 75, 130);*/
    height: 17vh;
    width: 18vw;
    background-image: url(../imagenes/logop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

/*//////////////////////////////////////Menu//////////////////////////////////////////*/

.desplegableli:hover .desplegable{
    display: flex;
    visibility:visible;
    flex-direction:column;
}
.desplegableli:hover .desplegable2{
    display: flex;
    visibility:visible;
    flex-direction:column;
}
nav ol li a:hover{
    color: black;
}

.desplegable{
    flex-direction:column;
    display: flex;  
    visibility: hidden;
    position: relative;  
    left: 18vw;
    top: -40px;
    margin-bottom:-12vh;
    background-color: rgb(206, 75, 130); 
    z-index: 1;
}
.desplegable2{
    flex-direction:column;
    display: flex;  
    visibility: hidden;
    position: relative;  
    left: 18vw;
    top: -40px;
    margin-bottom:-10vh;
    background-color: rgb(206, 75, 130); 
    z-index: 1;
}
.desplegable a:hover {
    color: black;
}
.desplegable2 a:hover {
    color: black;
}
.desplegable a{
    text-align: center;
    padding: 0 10px;
    border-top: solid 5px white;
}

.desplegable2 a{
    text-align: center;
    padding: 0 10px;
    border-top: solid 5px white;
}

/*Pagina principal*/

#videoPrincipal{
    width: 60vw;
    aspect-ratio: 16/9;
    margin-bottom: 10vh;
}

#imagen-principal{
    width:80%;
    object-fit: contain;
    aspect-ratio: 8/8;
    margin-bottom: 10vh;
}